input.input-yellow {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.input-yellow + label {
  color: #fff;
}

input.input-yellow:focus {
  border-bottom: 1px solid #ffeb3b !important;
  box-shadow: 0 1px 0 0 #ffeb3b !important;
}

input.input-yellow:focus + label {
  color: #ffeb3b !important;
}
